{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NinerGram</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{% static 'styles/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/ninergram_icon.png' %}">

</head>
<body>
    {% include 'navbar.html' %}

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="home-container">
      <div class="feed-container">
        {% if request.path == '/' %}
  <div class="home-container">
    <div class="feed-container">
      <h2>Feed</h2>

      {% if posts %}
        {% for post in posts %}
          <div class="post-card">
            <div class="post-header">
              {% if post.user.profile.avatar %}
            <img src="{{ post.user.profile.avatar.url }}" class="avatar">
            {% else %}
              <img src="{% static 'images/Default_profile.png' %}" alt="default avatar" class="avatar">
            {% endif %}

              <a href="{% url 'user-profile' post.user.username %}"><strong>{{ post.user.username }}</strong></a>
            </div>
            <div class="post-body">
              <p>{{ post.content }}</p>
              {% if post.image %}
                <img src="{{ post.image.url }}" class="post-image">
              {% endif %}
              <h2> </h2>
              <small>Posted on {{ post.created }}</small>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No posts yet.</p>
      {% endif %}
    </div>
  </div>
{% endif %}

      </div>
    </div>

    {% block content %}{% endblock %}

    
</body>
</html>
